name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy index.html to Azure VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.PUBLIC_IP }}
          username: azureuser
          key: ${{ secrets.PUBLIC_KEY }}
          source: "index.html"
          target: "/var/www/devops-app/"
